{% extends "base.html" %}
{% block title %}Marcar Pagamento{% endblock %}
{% block content %}
<h2>Marcar Pagamento como Pago</h2>
<form method="POST">
  <div class="mb-3"><label class="form-label">Remetente</label>
    <input class="form-control" value="{{ postagem.nome_remetente }}" readonly>
  </div>
  <div class="mb-3"><label class="form-label">Código</label>
    <input class="form-control" value="{{ postagem.codigo_rastreio }}" readonly>
  </div>
  <div class="mb-3"><label class="form-label">Data Pagamento</label>
    <input type="date" name="data_pagamento" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Forma Pagamento</label>
    <select name="tipo_pagamento" class="form-select" required>
      <option value="PIX">PIX</option>
      <option value="DINHEIRO">Dinheiro</option>
    </select>
  </div>
  <div class="mb-3"><label class="form-label">Observações</label>
    <textarea name="observacoes" class="form-control" rows="3">{{ postagem.observacoes }}</textarea>
  </div>
  <button class="btn btn-success">Confirmar</button>
  <a href="{{ url_for('listar_pendentes') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
