{% extends "base.html" %}
{% block title %}Relatório Mensal{% endblock %}
{% block content %}
<h2>Gerar Relatório Mensal</h2>
<form method="POST">
  <div class="mb-3">
    <label class="form-label">Mês</label>
    <select name="mes" class="form-select" required>
      {% for m in range(1,13) %}<option>{{m}}</option>{% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Ano</label>
    <input type="number" name="ano" value="{{ current_year }}" class="form-control" required>
  </div>
  <button class="btn btn-primary">Gerar</button>
{% endblock %}
